#searchFilter {
    text-align: center;
border: darkblue;
    justify-content: center;
}

input {
    margin: auto;
    width: 100%;
  padding: 10px;
}

input:hover {
        color: rgb(28, 28, 194);
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
      }
